<%= javascript_include_tag "jquery-1.9.1.min", "highcharts"%>

<!-- Each sensor has a line. Each line is comprised of a series of updating
(value, datetime) tuples grabed from the Sensor.input association. -->

<script type="text/javascript" charset="UTF-8">
	$(function() {
		new Highcharts.Chart({
			chart: {
				renderTo: "orders_chart"
			},
			title: {
				text: "Orders by Day"
			},
			xAxis: {
				type: "datetime"
			},
			yAxis: {
				title: {
					text: "Dollars"
				}
			},
			series: [{
				// pointInterval: <%= 1.day * 1000 %>
				// pointStart: <%= 3.week.ago.to_i * 1000 %>
				data: <%= @inputs1 %>
			}]			
		});		
	});
</script>
<div id="orders_chart" style="width:560px; height:300px;"></div>
