<%= javascript_include_tag "jquery-1.9.1.min", "highcharts"%>

<!-- Each sensor has a line. Each line is comprised of a series of updating
(value, datetime) tuples grabed from the Sensor.input association. -->

<script type="text/javascript" charset="UTF-8">
	$(function() {
		new Highcharts.Chart({
			chart: {
				renderTo: "chicken_chart"
			},
			title: {
				text: "Chicken Sensor"
			},
			xAxis: {
				type: "datetime"
			},
			yAxis: {
				title: {
					text: "Value"
				}
			},
			series: [{
				name: "Sensor 1",
				data: <%= @data1 %>
			}]			
		});		
	});
</script>
<div id="chicken_chart" style="width:560px; height:300px;"></div>
